TZ=America/Sao_Paulo
MAIL_BIND_IP=10.10.2.3
MAIL_HOSTNAME=mx1.results.com.br
MAIL_MX2_BIND_IP=10.10.2.23
MAIL_MX2_HOSTNAME=mx2.results.com.br
MAIL_IMAP_HOSTNAME=imap.results.com.br
MAIL_DOMAIN=results.com.br
SMTP_PORT=25
SMTPS_PORT=465
SUBMISSION_PORT=587
IMAP_PORT=143
IMAPS_PORT=993
POP3_PORT=110
POP3S_PORT=995
SIEVE_PORT=4190
MAIL_RELAY_NETWORKS=127.0.0.0/8,10.10.2.0/24
MAIL_MESSAGE_SIZE_LIMIT=20480000
MAIL_UID=1004
MAIL_GID=1004
MAIL_STORAGE_BASE=/var/mail/vhosts
MAIL_MYSQL_HOST=10.10.2.99
MAIL_MYSQL_PORT=3306
MAIL_MYSQL_DATABASE=results
MAIL_MYSQL_USER=resultsdba
MAIL_MYSQL_PASSWORD=
MAIL_MAILBOX_TABLE=mailbox
MAIL_ALIAS_TABLE=alias
MAIL_DOMAIN_TABLE=domain
MAIL_ENABLE_LDAP=true
LDAP_URI=ldap://srvldap0.results.intranet,ldap://srvldap1.results.intranet,ldap://srvldap2.results.intranet,ldap://srvldap3.results.intranet
LDAP_DOMAIN=results.com.br
LDAP_ORGANISATION=Results Sistemas
LDAP_BASE_DN=dc=results,dc=com,dc=br
LDAP_USERS_BASE_DN=ou=people,dc=results,dc=com,dc=br
LDAP_GROUPS_BASE_DN=ou=groups,dc=results,dc=com,dc=br
LDAP_ADMIN_PASSWORD=
LDAP_CONFIG_PASSWORD=
LDAP_BIND_DN=cn=administrador,dc=results,dc=com,dc=br
LDAP_BIND_PASSWORD=
LDAP_TLS=false
MAIL_TLS_CERT_FILE=/certs/fullchain.pem
MAIL_TLS_KEY_FILE=/certs/privkey.pem
MAIL_MX2_TLS_CERT_FILE=/certs/fullchain.pem
MAIL_MX2_TLS_KEY_FILE=/certs/privkey.pem
MAIL_BOOTSTRAP_CERT_DAYS=7
MAIL_ACME_DOMAINS=mx1.results.com.br,mx2.results.com.br,imap.results.com.br
MAIL_ACME_RENEW_INTERVAL=43200
HTTPD_MD_VOLUME=infra-httpd_md-data
RSPAMD_MILTER_HOST=rspamd
RSPAMD_MILTER_PORT=11332