TRUSTED_NETWORKS="127.0.0.1/8 10.10.2.0/24"
HTTP_LIMIT_PER_MINUTE=120
SMTP_LIMIT_PER_MINUTE=25
SSH_BANTIME=1h
SSH_FINDTIME=10m
SSH_MAXRETRY=6
POSTFIX_BANTIME=1h
POSTFIX_FINDTIME=10m
POSTFIX_MAXRETRY=6