global
    maxconn 4096

defaults
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend https_sni
    bind *:443
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    use_backend softether_rvpn if { req.ssl_sni -i rvpn.results.com.br }
    default_backend apache_https

backend softether_rvpn
    server rvpn 10.10.2.30:443 check

backend apache_https
    server apache 10.10.2.60:18443 check
