settings {
    statusFile = "/var/log/lsyncd/lsyncd-joomla-10.10.2.30.stat",
    logFile = "/var/log/lsyncd/lsyncd-joomla-10.10.2.30.log",
    statusInterval = 10,
    insist = 1,
}

targetlist = {
    "root@10.10.2.30:/opt/results/infra/joomla-site/",
}

for _, server in ipairs(targetlist) do
    sync {
        default.rsync,
        source = "/var/www/html/results/",
        target = server,
        excludeFrom = "/etc/lsyncd.exclude",
        rsync = {
            acls = true,
            owner = true,
            _extra = {"-g"},
        },
    }
end